development:
  bucket_name: canvas-assets
  access_key_id: access_key
  secret_access_key: secret_key
  region: us-east-1
  endpoint: https://nyc3.digitaloceanspaces.com

test:
  bucket_name: canvas-assets
  access_key_id: access_key
  secret_access_key: secret_key
  region: us-east-1
  endpoint: https://nyc3.digitaloceanspaces.com


production:
  bucket_name: canvas-assets
  access_key_id: access_key
  secret_access_key: secret_key
  region: us-east-1
  endpoint: https://nyc3.digitaloceanspaces.com

