development:
  dsn: <%= ENV.fetch('SENTRY_DEV_DSN') %>
  frontend_dsn: <%= ENV.fetch('SENTRY_DEV_FRONTEND_DSN') %>
  org_slug: <%= ENV.fetch('SENTRY_ORG_SLUG') %>
  base_url: <%= ENV.fetch('SENTRY_BASE_URL') %>
production:
  dsn: <%= ENV.fetch('SENTRY_DSN') %>
  frontend_dsn: <%= ENV.fetch('SENTRY_FRONTEND_DSN') %>
  org_slug: <%= ENV.fetch('SENTRY_ORG_SLUG') %> # like 'instructure'
  base_url: <%= ENV.fetch('SENTRY_BASE_URL') %> # like https://sentry.io
